section {
    border: 2px solid aliceblue;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

div {
    width: 32%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border-radius: 20px;
    background-color: aliceblue;
}

label {
    display: flex;
    flex-direction: column;
}

button {
    margin: 1rem;
    padding: .5rem;
}

