<nav>
  <ul>
    <li>
      <a [routerLink]="['/']">Home</a>
    </li>
    <li>
      <a [routerLink]="['/profile']">Profil</a>
    </li>
    <li>
      <a [routerLink]="['/signup']">Inscription</a>
    </li>
    <li>
      <a [routerLink]="['/dev']">Developpeur</a>
    </li>
    <li>
      <a [routerLink]="['/onomatopoeia']">Onomatopées</a>
    </li>
    <li>
      <a [routerLink]="['/kitten']">Chats</a>
    </li>
    <li>
      <a [routerLink]="['/cocktail']">Cocktails</a>
    </li>
    <li>
      <a [routerLink]="['/nasa']">NASA</a>
    </li>
  </ul>
</nav>