<h2>Reactives Form quête 15</h2>

<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <fieldset formGroupName="credentials">
        <div>
            <label>
                Email:
                <input type="email" formControlName="email">
            </label>
        </div>

        <div>
            <label>
                Mot de passe:
                <input type="password" formControlName="password">
            </label>
        </div>
    </fieldset>
    <button type="submit">Submit</button>
</form>
